 html, body {
    height: 100%;
 }
 
 .form-container {
     display: flex;
     justify-content: center;
 }

 .form-inline {
     display: inline-block;
     margin-right: 10px;
 }



 .visit-toast{
    position: fixed !important;
    bottom: 20px ;
    right: 20px;
    z-index: 9999999999999;
 }